h1,
h2,
h3 {
  font-weight: normal;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.Bana {
  display: flex;
  align-items: center;
}

header {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

.nav{
  background:#000;
}

nav {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  background: #000;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 30px;
}

.menu li {
  margin: 0;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  line-height: 1.5;
  padding: 15px 30px;

}


.menu a:hover {
  background-color: #fff;
  color: #000;
}


.main {
  margin: 0;
  padding: 0;
}


.top {
  font-size: 36px;
  text-align: center;
  height: 350px;
  line-height: 450px;
  background: url(image/byoudouin.jpg) center/cover black;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
}


.top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}


.top h2 {
  margin: 0;
  padding: 10px 10px;
  display: inline-block;
  line-height: 1;
  writing-mode: vertical-rl;
  color: white;
  position: relative;
  z-index: 2;
}

.highlighted::after {
  content: "";
  display: inline-block;
  width: 100%;
}

.second-line {
  display: block;
  margin-left: 1em;
}


.infomation {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}

h3 {
  margin: 0;
  padding: 0;
}

.infomation h2 p {
  text-align: center;
}


p {
  margin: 0;
  padding: 0;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vh;
}



/* profile */
.flex {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap; 
  margin-top: 64px;
  padding: 64px;
}

.flex h3 {
  font-size: 32px;
  border-bottom: 1px solid black;
  margin-bottom: 32px;
  padding-bottom: 10px;
}

.flex p {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.flex .profile,
.flex .map {
  flex-basis: calc(50% - 20px); 
  margin-bottom: 40px;
}


/* footer */
footer {

  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 32px;
  padding-top: 48px;
  height: 240px;
}


.footer-menu {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

.footer-menu ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 30px;
}

.footer-menu li {
  margin: 0;
}

.footer-menu a {
  color: #fff;
  text-decoration: none;
  padding: 8px 10px;
  white-space: nowrap;
}
.footer-menu ul li a {
  color: #fff;
  text-decoration: none;
  margin-right: 0px;
  border-right: 1px solid #fff;
  padding: 8px 20px;
  white-space: nowrap;
}
.footer-menu ul li:not(:last-child) a {
  border-right: 1px solid #fff;
}
.footer-menu ul li:last-child a {
  padding-right: 0;
  border-right: none;
}




.sns ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 30px;
}
.sns {
  display: flex;
  justify-content: center;
  margin-top: 32px
}
.sns a{
  display: flex;
}
.footer-menu a:hover {
  text-decoration: underline;
}
small {
  font-size: 14px;
  padding-top:34px;
  margin-top: 34px;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
}


.home a {
  display: flex;
  justify-content: center;
  width: 18px;
  height: 18px;
  text-decoration: none;
  color: #fff;
  padding: 18px 18px;
  margin-top: 30px;
  border: solid white;
  margin-left: auto;
}

.product{
  display: block;

}
.center{
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-weight: 200;
  margin-top: 64px;
}


.bun{
    width: 150px;
    padding: 10px;
    box-sizing: border-box;
}

.flex{
  display: flex;

  padding:64px;

padding-top:0;
}

.product div {
  flex: 1;
}

.product img {
  width: 50%;
  height: auto;
}


.menu2 {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
align-items: flex-start
}

.menu3{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 30px;
  padding-top: 10px;
align-items: flex-start
}

mu
/* kasou page */
